<!DOCTYPE html>
<html long="en" xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width", user-scalable=no, initial-scale=1.0>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>register page</title>
</head>
<body>
	<h1>register new user</h1>
	<hr/>
	
	<form th:object="${user}" th:action="@{/register}", method="post">
		<input type="text" placeholder="Enter naame" th:field="*{name}"/>
		<br/><br/>
		<input type="text" placeholder="Enter email" th:field="*{email}"/>
		<br/><br/>
		<input type="text" placeholder="Enter password" th:field="*{password}"/>
		<br/><br/>
		<input type="text" placeholder="Enter confirm passwrod" th:field="*{confirmpassword}"/>
		<br/><br/>
		<button type="submit">Submit</button>
		
	</form>
	
	
</body>
</html>